@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#root {
  font-family: Inter;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

Main {
  background-color: #202020;
  padding: 2rem;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  min-width: 700px;
  max-width: 90%;

  input {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
  }

  h2 {
    font-family: 'Courier New', Courier, monospace;
  }

  h3 {
    font-family: "Space Mono";
    margin: 0.25rem;
    text-align: left;
  }
}

#runButton{
  margin-right: 1rem;
}


#target {
  margin-bottom: 1rem;
}

.settings {
  width: 50%;
}

.population {
  display: flex;
  width: 50%;
  margin-right: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.false {
  color: #D49EFA;
}

.correct {
  color: #9ED8FA;
}