@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

main {
  background-color: rgb(25, 25, 25);
  max-width: 90%;
  width: 100%;
  max-height: 90%;

  border-radius: 1.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0.5rem;


  #settings {
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    justify-content: space-between;
    background-color: #242424;
    padding: 1rem;
    border-radius: 1rem;
    
    #settingsInputs{
      display: flex;
      flex-direction: column;
      gap: 1rem;

    }

    input[type=number] {
      field-sizing: content;
      resize: none;
    }
  }

  #infos {
    grid-row: 2;
    grid-column: 1;
    height: 100%;
    padding: 1rem;
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: 1rem;

    #fitnessInfos {
      font-size: large;
      font-weight: 600;
    }
  }

  #population {
    grid-row: 1 / 3;
    grid-column: 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    background-color: #242424;
    padding: 1rem;
    border-radius: 1rem;

    overflow: hidden;

    * {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .correct {
      color: rgb(0, 128, 128);
    }

    .false {
      color: hsl(0, 100%, 25%);
    }
  }

}
#graph{
  align-self: center;
}


#settingButtons{
  
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

header {
  text-transform: uppercase;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}